<% include ./partials/header.ejs %>

      <form action="/send" method="post">
        <div class="form-group">
          <label for="key">Enter Key</label>
          <input name="key" type="text" class="form-control" placeholder="Enter key">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

<% include ./partials/footer.ejs %>
