<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact V5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="imagesNew/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendorNew/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fontsNew/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fontsNew/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendorNew/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendorNew/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendorNew/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendorNew/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendorNew/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendorNew/noui/nouislider.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="cssNew/util.css">
	<link rel="stylesheet" type="text/css" href="cssNew/main.css">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" action="/send" method="post">
				<span class="contact100-form-title">
					Audit Chain
				</span>

				<!-- <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
					<span class="label-input100">FULL NAME *</span>
					<input class="input100" type="text" name="name" placeholder="Enter Your Name">
				</div> -->



				<div class="wrap-input100 input100-select bg1">
					<span class="label-input100">Property Info *</span>
					<div>
						<select class="js-select2" name="service">
							<option>Please choose</option>
							<option value="Laxmi Construction">Laxmi Construction</option>
							<option value="DhanaLaxmi Construction">Parshwanath Developers</option>
							<option value="Kafi DhanaLaxmi Construction">DLF Infrastructure</option>
							<option value="Bohot Sara DhanaLaxmi Construction">Inidabulls Home</option>
						</select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>

				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Data">
					<span class="label-input100">Material Item *</span>
					<input class="input100" type="text" name="materialItem" placeholder="Material Item ">
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Material Specification</span>
					<input class="input100" type="text" name="materialSpecification" placeholder="Material Specification">
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Upload File</span>
					<input class="input100" type="file" name="phone" placeholder="Upload File">
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Material Quantity</span>
					<input class="input100" type="text" name="materialQuantity" placeholder="Material Quantity">
				</div>

				<div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate = "Please Type Your Message">
					<span class="label-input100">Description</span>
					<textarea class="input100" name="message" placeholder="Write Additional Details here"></textarea>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
        <div class="mx-auto">
          <a class="btn btn-success m-3 btn-block" href="/">
            Home
          </a>
        </div>

			</form>
		</div>
	</div>



<!--===============================================================================================-->
	<script src="vendorNew/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendorNew/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendorNew/bootstrap/js/popper.js"></script>
	<script src="vendorNew/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendorNew/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});


			$(".js-select2").each(function(){
				$(this).on('select2:close', function (e){
					if($(this).val() == "Please chooses") {
						$('.js-show-service').slideUp();
					}
					else {
						$('.js-show-service').slideUp();
						$('.js-show-service').slideDown();
					}
				});
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="vendorNew/daterangepicker/moment.min.js"></script>
	<script src="vendorNew/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendorNew/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="vendorNew/noui/nouislider.min.js"></script>
	<script>
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 1500, 3900 ],
	        connect: true,
	        range: {
	            'min': 1500,
	            'max': 7500
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]);
	        $('.contact100-form-range-value input[name="from-value"]').val($('#value-lower').html());
	        $('.contact100-form-range-value input[name="to-value"]').val($('#value-upper').html());
	    });
	</script>
<!--===============================================================================================-->
	<script src="jsNew/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
