<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Blockchain UI | By Constants</title>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="../style.css">
</head>

<body>


<section class="intro">
<div class="container">
  		 <h1>AuditChain</h1>
  	</div>
</section>
  <form action="/show/asdfna" method="get">
    <input type="number" name="key" value="" placeholder="Enter Key">
    <button id="submit" type="submit" name="button">Submit</button>
  </form>
<!--  -->
<button id="goback" onclick="goBack()">Go Back</button>


</body>
<script>
function goBack() {
  window.history.back();
}
</script>
</html>
